<div class=" mt-1 mb-1">
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span>
                <h4>{{position}}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios</p>
            <ul class="list-group">
                <li class="list-group" *ngFor="let s of destino.services">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'Desayuno'" style="color: red;">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>

            <ul class="list-group list-group-flush">
                <li class="list-group"><a href="#" class="btn-card mt-1 mb-1" (click)="ir()">Ir !!</a></li>
                <span *ngIf="destino.isSelected() " class="mx-2">
                    <span ngNonBindable>{{PREFERIDO}}</span>
                </span>
                <a [routerLink]="['/destino', destino.id]">Ver Detalle</a>
            </ul>
        </div>
    </div>
</div>